@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Hides scrollbar for WebKit browsers (Chrome, Safari) */
  }
  
  .hide-scrollbar {
    -ms-overflow-style: none; /* Hides scrollbar for Internet Explorer & Edge */
    scrollbar-width: none; /* Hides scrollbar for Firefox */
  }
  